<ion-header>
  <ion-toolbar color="primary">
      <ion-button routerLink="/login" color="primary">Login</ion-button>
    <ion-title color="dark"> Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
<ion-slide>

      
  <ion-grid fixed>

        <ion-row>
        <ion-col>
            <ion-slides>
            <ion-slide *ngFor="let avatar of avatars">
                <ion-img class="pick-avatar" 
                        src="/assets/avatars/{{ avatar.img }}"></ion-img>
            </ion-slide>
            </ion-slides>
        </ion-col>
        </ion-row>
    
        <form  (ngSubmit) = "onRegister(fregister)" #fregister="ngForm">
            <ion-row>
                <ion-col>
                    
                    <ion-list>
                        
                        <ion-item>
                        <ion-label>Email : </ion-label>
                        <ion-input name="email" 
                                    type="email"
                                    [(ngModel)]="user.email"
                                    required></ion-input> 
                        </ion-item>

                        <ion-item>
                        <ion-label>Nombre : </ion-label>
                        <ion-input name="nombre"
                                    type="text"
                                    required></ion-input>
                        </ion-item>

                        <ion-item>
                        <ion-label>Password : </ion-label>
                        <ion-input name="password"
                                    type="password"
                                    [(ngModel)]="user.password"
                                    required></ion-input>
                        </ion-item>

                    </ion-list>
                </ion-col>
            </ion-row>
            
            <ion-row>
            <ion-col>
                <ion-button type="submit"
                            color="primary"
                            shape="round">
                    Crear usuario
                </ion-button>
            </ion-col>
        </ion-row>
        
        </form>
    </ion-grid>
  </ion-slide>
  
</ion-content>

