<ion-menu side="start" menuId="first" contentId="menuDrawer">
  <ion-header>
    <ion-toolbar style="--background:#FF8E25">
      <ion-title>SENA</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let c of components">
        <ion-item [routerLink]="c.redirectTo">
          <ion-icon slot="start" [name]="c.icon"></ion-icon>
          <ion-label>{{c.name}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="onLogout()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>