<ion-content>
    <ion-slides>
      <ion-slide *ngFor="let avatar of avatars">
        <ion-img class="pick-avatar" 
                src="/assets/avatars/{{ avatar.img }}"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-grid>
        <ion-row  >
          <ion-col  >
              <ion-img class="pick-avatar" 
                src="/assets/avatars/slidessena.png">
              </ion-img>
            </ion-col>
        </ion-row>  
        <ion-row>
          <ion-col>
            <h4>Servicio Nacional De Aprendizaje</h4>
            <ion-button class="ion-justify-content-center" color="primary" routerLink="/ofertas">Comenzar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-slide>
    </ion-slides>
</ion-content>
